* {
  box-sizing: border-box;
}

div.header,
div.main,
div.footer {
  min-width: 260px;
}

.header {
  background-color: white;
  text-align: center;
  height: 100px;
}

.header img {
  width: 100%;
  max-width: 150px;
  position: relative;
  top: 40%;
}

div.main {
  background-color: pink;
  background-image: url("./Assets/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-container {
  padding: 3vw 5vw;
  max-width: 1140px;
  height: 80vh;
  position: relative;
  top: 10vh;
}

.flexbox1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.main-content {
  padding: 1vw;
  flex-basis: 70%;
}

@media only screen and (max-width: 580px) {
  .main-content {
    flex-basis: 80%;
  }
}

@media only screen and (max-width: 504px) {
  .main-content {
    flex-basis: 85%;
    min-width: 251px;
  }
}

.main-content h1 {
  color: white;
  text-align: left;
  font-family: "Eczar";
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.125;

  padding: 1vw;
  margin: 0px;
}

.main-content p {
  font-family: Fira Sans;
  font-size: 1.25rem;
  line-height: 1.625;
  text-align: left;

  padding: 1vw;
  margin: 0px;
}

.main-content form {
  padding: 0.5vw 1vw;
}

input[name="email"] {
  border: 1px solid rgb(227, 166, 177);
  border-radius: 3px;
  width: 100%;
  height: 2em;
  padding: 0 0.5em;

  cursor: text;
  font-size: 1.25rem;
  line-height: 1.25;
}

input[type="submit"] {
  width: 100%;
  margin-top: 12px;
  font-family: Eczar, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;

  padding: 12px;
  cursor: pointer;
  color: white;
  background-color: black;
}

.footer {
  padding: 3vw 5vw;
  margin: 0px 2vw;
}

.footer-content,
.copyright {
  padding: 1vw;
  font-family: Fira Sans;
}

.footer-content strong {
  font-family: Eczar, sans-serif;
  text-align: left;
  line-height: 1.5;
  font-size: 1.125rem;
}

.footer-content p {
  color: rgba(75, 80, 92, 0.62);
  font-size: 0.875rem;
  line-height: 1.375;
}

.copyright p {
  margin: 0px;
}
